@inherits LayoutComponentBase

<div class="page">
    <main>

        <div class="top-row px-4" style="padding:10px 0;">
            <a href="/">⬅ Til forsiden</a>
            <span style="margin-left:12px"></span>
            <a href="/new-post">Ny tråd</a>
            <span style="margin-left:12px"></span>
            <a href="https://github.com/kdorland" target="_blank">About</a>
        </div>
        <hr />

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
